body{
    margin: 0;
    padding: 0;
}
p{
    color:rgb(52, 56, 56);
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 25px;
}



.negrita{
    font-weight: bolder;
}

h1{
    color: rgba(11, 125, 160, 0.863);
    font-style: italic;
    font-family: 'Raleway', serif;
    font-weight: 300;
    font-size: 70px;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 100px;

    
}
#subrayadoTitulo{
    text-decoration-line:underline overline ;
    text-decoration-style: solid;
    text-decoration-color: rgb(51, 153, 167) ;
}

h2{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-align: center;
    letter-spacing: 2px;

    
}
h3{
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}
h5{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-align: center;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: 2px;

}
h6{
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}


table{
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.5px;
}

.colorTabla{
    color:rgb(51, 153, 167) ;
    
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

label{
    font-family: 'Raleway', sans-serif;
}

.colorPrincipal{
    color: rgb(52, 56, 56);
}
.imagenPrincipal{
    background-image: url("../imagenes/pranayama.png");
    background-position: center; 
    background-repeat: no-repeat;
}


.separaSecciones{
  border-bottom: solid 0.5px black;
}
/*
#menuInicial{
    display: inline-block;
    position: relative;
    left:35%
}

.listaMenu{
  display: inline-block;
  padding: 0px 20px 0px 20px;
  border-right:solid 1px slategrey ;
}

*/


.menuLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   /*
    height: 100px;*/
    width: 97%;

    position: fixed;
    top: 0px;


}



#borderContacto{
    border-right: none;
}



.borderConsulta{
    padding: 30px 0px 30px 0px;
    border-top:solid 4px rgb(129, 196, 207);
    border-right: solid 4px rgb(129, 196, 207);
    border-bottom:solid 4px rgb(129, 196, 207);
    border-left:solid 4px rgb(129, 196, 207)  
}


#posicionHorario{
    position: relative;
    left: 250px;
}
 
#colorFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.aside{
    display: flex;
    flex-direction: row;
}
.padingProfesores{
    /*background-color:  rgb(129, 196, 207);*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}
.padingNosotros{
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(90, 197, 197);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}



    /* fondo para "inscribite al curso"
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 40px;
    background-image:url("../imagenes/fondo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    */




.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 30px;
    padding-left: 115px;
}

/*PARA CELULAR*/
@media only screen and (max-width:600px) {
    .grid{
        display: grid;
        grid-template-columns:100% ;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-areas: "box1"
                             "box2"
                             "box3";
    }
    #box1{
    grid-area: box1;
     }
     #box2{
     grid-area: box2;
     }
     #box3{
     grid-area: box3;
     }

    .grid2{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: "area1" "area2";
    }
    #area1{
        grid-area: area1;
    }
    #area2{
        grid-area: area2;
    }

   /*MENU HAMBURGUESA*/

   #carrusel{
    padding-top: 200px;
        
    }
    h1{
        padding-top:200px;
        font-weight: 200;
    }
    h3{
        padding-top: 200px;
    }


}
    
    
/*PARA TABLET SUPUESTAMENTE*/
@media only screen and (min-width:600px)  {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 100%;
        grid-template-areas: "box1" "box2" "box3";
    }
    #box1{
       grid-area: box1;
    }
    #box2{
    grid-area: box2;
    }
    #box3{
    grid-area: box3;
    }
    
    .grid2{
        display: grid;
        grid-template-columns: 2fr 1fr ;
        grid-template-rows: 100%;
        grid-template-areas: "area1" "area2";
    }
    #area1{
        grid-area: area1;
    }
    #area2{
        grid-area: area2;
    }
    
    .p{
        padding: 30px 30px 10px 50px;
    }
    .primerImagen{
        position: relative;
        left: 20%;
    }
    section{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    #carrusel{
        padding-top: 100px;
            
        }

    #menuInicial{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        font-family: 'Barlow Condensed', sans-serif;;
        height: 100px;
        width: 80%;
        position: fixed;
        top: 0px;
        left: 10%;
        }
            
    
}

/*PARA COMPUTADORA*/
@media only screen and (min-width:950px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 100%;
        grid-template-areas: "box1" "box2" "box3";
    }
    #box1{
       grid-area: box1;
    }
    #box2{
    grid-area: box2;
    }
    #box3{
    grid-area: box3;
    }
    
    .grid2{
        display: grid;
        grid-template-columns: 2fr 1fr ;
        grid-template-rows: 100%;
        grid-template-areas: "area1" "area2";
    }
    #area1{
        grid-area: area1;
    }
    #area2{
        grid-area: area2;
    }
    .primerImagen{
        position: relative;
        left: 30%;
    }
    .p{
        padding: 50px 30px 10px 50px;
    }

    section{
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 100px;
        padding-bottom: 100px;
    }
    
    #padingAside{
        padding-left: 100px;
        padding-right: 800px;
        position: relative;
        left: 700px;
 
    }
    #carrusel{
        padding-top: 50px;
    }

    #menuInicial{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        font-family: 'Barlow Condensed', sans-serif;;
        height: 100px;
        width: 80%;
        position: fixed;
        top: 0px;
        left: 10%;
    }
        
}
   

    
/*GRADIENTES/ANIMACIONES*/


    
.galeria:hover{
    transform: translate(50px, 50px);
}

.escala:hover{
    transform: scale(0.9,0.9)
}

 
 input:hover {
    transition: all 0.5s;  
    width: 200px;
    font-size: 15px;
 }

 @keyframes  unEfecto{
     form{
         transform: rotate(0deg);
     }
     to{
         transform: rotate(360deg);
     }
   
 }
 #animacionLogo{
    animation-name: unEfecto;
    animation-duration: 1.5s;
 }
 /*correccion de br**/
 .input{
     display: grid;
     grid-template-columns:200px ;
     grid-template-rows: 0.5fr 0.5fr 3fr 0.5fr;
     grid-row-gap: 10px;
     grid-template-areas: "input1"
     "input2"
     "input3"
     "input4";
 }
 
 #input1{
    grid-area: label1;
 }
 #input2{
    grid-area: label2;
 }
 #input3{
    grid-area: label3;
 }
 #input4{
    grid-area: label4;
 }

/*

 .label{
    display: grid;
    grid-template-columns:150px 200px ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-template-areas: "label1" "label1"
    "label2" "label2"
    "label3" "label3"
    "label4" "label4";
}

#label1{
 grid-area: label1;
}
#label2{
grid-area: label2;
}
#label3{
grid-area: label3;
}
#label4{
grid-area: label4;
}
#label5{
grid-area: label5;
}
*/


